@font-face {
    font-family: Texto;
    src: url("Fuentes/MinionPro-Regular.otf");
}

body{
    display: flex;
    text-align: center;
    background-image: url(/images/Backgrounds/BG_BLACK_9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    image-rendering: 100vh;
    color: white;
     font-family: Texto;
}

header{
    display: flex;
    justify-content: space-between;
    height: 75px;
    margin: 0;
    background-color: black;
    align-items: center;
    padding: 10px;
}

.logo{
 display: flex;
}

.logo img{ 
    height: 60px;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;

}

nav a:hover{
    color: red;
    text-shadow: 0px 10px 5px  whitesmoke;

}

.red-text{
    color: red;
    text-decoration: solid;
}
